<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>List Document</h1>
    <table border="2">
        <tr>
            <th>Title</th>
            <th>Images</th>
            <th>PDFS</th>
        </tr>
        {% for f in data %}
        <tr>
            <td>{{ f.title }}</td>
            <td><img src="{{ f.image.url }}" alt="" width="300px" height="300px"></td>
            <td>
                <a href="{{ f.pdf.url }}" target="_blank">Resume</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>